@using BlazorWebAppEFCore.Grid
@inject IContactFilters Filters

@if (CurrentContact is not null)
{
    <div class="row contact-detail">
        <div class="col-1 text-right">
            <a title="Edit" href="edit/@CurrentContact.Id" style="text-decoration:none">
                &nbsp;📝&nbsp;
            </a>
            @if (CanDelete)
            {
                <span @onclick="DeleteRequestAsync"
                      title="Delete" class="clickable red">❌</span>
            }
            else
            {
                <span>&nbsp;</span>
            }
            &nbsp;
        </div>
        <div class="col-2">
            <a href="@ViewLink" alt="View Details"
               title="View Details">
                @Name
            </a>
        </div>
        @if (!DeleteConfirmation)
        {
            <div class="col-2">@CurrentContact.Phone</div>
            <div class="col-3">@CurrentContact.Street</div>
            <div class="col-2">@CurrentContact.City</div>
            <div class="col-1">@CurrentContact.State</div>
            <div class="col-1">@CurrentContact.ZipCode</div>
        }
        else
        {
            <div class="col-9">
                <DeletePrompt Confirmation="ConfirmAsync" />
            </div>
        }
    </div>
}

@code {
    private Contact _currentContact = new Contact();

    // Contact being rendered.
    [Parameter]
    public Contact CurrentContact
    {
        get => _currentContact;
        set
        {
            if (value is not null && !value.Equals(_currentContact))
            {
                _currentContact = value;
                DeleteConfirmation = false;
            }
        }
    }

    // Event to raise when a contact delete is requested.
    [Parameter]
    public EventCallback DeleteContact { get; set; }

    // Overall wrapper of functionality.
    [CascadingParameter]
    public GridWrapper? Wrapper { get; set; }

    // Returns True if conditions for delete are met.
    private bool CanDelete => !DeleteConfirmation &&
    (Wrapper?.DeleteRequestId == 0 ||
    Wrapper?.DeleteRequestId == CurrentContact?.Id);

    // Navigate to view.
    private string ViewLink => $"View/{CurrentContact?.Id}";

    // Confirm the delete.
    private bool DeleteConfirmation { get; set; }

    // Called based on confirmation.
    // confirmed: True when confirmed.
    private async Task ConfirmAsync(bool confirmed)
    {
        if (confirmed)
        {
            await DeleteAsync();
        }
        else
        {
            DeleteConfirmation = false;

            if (Wrapper is not null)
            {
                await Wrapper.DeleteRequested.InvokeAsync(0);
            }
        }
    }

    /// Set delete to true.
    private async Task DeleteRequestAsync()
    {
        if (Wrapper?.DeleteRequestId == 0)
        {
            DeleteConfirmation = true;
            await Wrapper.DeleteRequested.InvokeAsync(CurrentContact.Id);
        }
    }

    // Deletes the Contact.
    private Task DeleteAsync()
    {
        return DeleteContact.InvokeAsync(this);
    }

    /// Correctly formatted name.
    private string Name => Filters.ShowFirstNameFirst ?
    $"{CurrentContact?.FirstName} {CurrentContact?.LastName}" :
    $"{CurrentContact?.LastName}, {CurrentContact?.FirstName}";
}
